@import '../sassvars/default';

.games {
	clear: both;
	display: block;
	float: left;
	margin-top: 60px;
	margin-left: 20px;
	margin-right: 30%;
	font-size: 20px;
}

td {
	padding: 20px;
	font-size: 20px;
}