@import '../sassvars/default';

.body {
	margin-right: 30%;
	margin-bottom: 60px;
	display: block;
	float: left;
	margin-top: 60px;
	font-size: 20px;
	margin-left: 20px;
}

.button {
	display: block;
	float: left;
	background-color: #8811F7;
	padding: 40px;
	margin-left: 300px;;
}

.button > a {
	text-decoration: none;
	color: #FFF;
	font-size: 30px;
}