html {
	height: 100%;
	font-family: Roboto, serif; 
	background-color: #fffbf4;
}
 
.navbar {
	display: block;
}

.navbar > ul {
	list-style-type: none;
	float: left;
	background-color: #000;
	padding: 20px;
	width: 100%;
}

.navbar > ul > li {
	float: left;
	margin-left: 60px;
	margin-right: 60px;
	text-decoration: none;
}

.navbar > ul > li > a {
	text-decoration: none;
	color: #FFF;
	font-size: 17px;
}

.header {
	margin-left: 20px;
	margin-top: 30px;
	background-color: #eda03b;
	font-size: 30px;
	padding-left: 20px;
	padding-top: -40px;
	padding-bottom: -40px;
	padding-right: 20px;
	display: inline-block;
	float: left;
	border-radius: 10px;
}